<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Articles</title>
</head>
<body class="vh-100" id="main-body">
	<h1>All My Articles</h1>
	<%- body %>
</body>
</html>